<footer class="page-footer blue darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Inmobiliaria Hogar Colombia</h5>
          <p class="grey-text text-lighten-4"> Somos una empresa lider del mercado inmobiliario, con más de 10 años de experiencia y solidez. Administramos su propiedad de manera confiable y segura.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Servicios</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" routerLink="/parameters/inmuebles-list">Inmuebles</a></li>
            <li><a class="grey-text text-lighten-3" routerLink="/solicitudes/solicitudes-list">Solicitudes</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright © 2021 Usar este site implica que aceptas nuestras politicas y términos.
        <h3>  </h3>

        <h4>  </h4>
      <a class="grey-text text-lighten-4 right" href="#!">Oficinas Inmobiliaria Hogar Colombia 
        Avenida calle 127No. 45-70. Bogotá Colombia (574) 424 1974.
        Linea Nacional: 01 800 115 232
        
        Atención de solicitudes de tratamiento de datos personales.
        protecciondedatos@InmobiliariaHogarColombia</a>

      </div>
    </div>
  </footer>