<nav>
  <div class="nav-wrapper blue darken-2">
    <a routerLink="/home" class="brand-logo pt-5">
      <img
        src="./../../../../assets/logo_inmobiliaria.png"
        alt=""
        width="45"
        class="d-block mb-0"
      />
      Hogar Colombia</a
    >
    <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li *ngIf="activeSession"><a routerLink="/parameters/inmuebles-list">Inmuebles</a></li>
      <li *ngIf="activeSession"><a routerLink="/solicitudes/solicitudes-list">Solicitudes</a></li>
      <li *ngIf="activeSession"><a routerLink="/asesores-list">Asesores</a></li>
      <li *ngIf="!activeSession"><a routerLink="/security/login">Login</a></li>
      <li *ngIf="activeSession"><a routerLink="/security/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li *ngIf="activeSession"><a routerLink="/parameters/inmuebles-list">Inmuebles</a></li>
    <li *ngIf="activeSession"><a routerLink="/solicitudes/solicitudes-list">Solicitudes</a></li>
    <li *ngIf="activeSession"><a routerLink="/asesores-list">Asesores</a></li>
    <li *ngIf="!activeSession"><a routerLink="/security/login">Login</a></li>
    <li *ngIf="activeSession"><a routerLink="/security/logout">Logout</a></li>
</ul>
