<nav>
  <div class="nav-wrapper blue darken-2">
    <a routerLink="/home" class="brand-logo">
      <!-- #TODO Ruta de imagen para el logo -->
      <img
        src=""
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Hogar Colombia</a
    >
    <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/parameters/inmuebles">Inmuebles</a></li>
      <li><a routerLink="/solicitudes">Solicitudes</a></li>
      <li><a routerLink="/security/login">Login</a></li>
      <li><a routerLink="/security/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/parameters/inmuebles">Inmuebles</a></li>
  <li><a routerLink="/solicitudes">Solicitudes</a></li>
  <li><a routerLink="/security/login">Login</a></li>
  <li><a routerLink="/security/logout">Logout</a></li>
</ul>
